:root {
  --bg-image: url("./images/bg-desktop-light.jpg");
  --bg-color: hsl(0, 0%, 98%);
  --card-color: #fff;
  --circle-border: hsl(236, 33%, 92%);
  --card-border: hsl(233, 11%, 84%);
  --shadow: hsl(0, 0%, 87%);
  --text-color: hsl(235, 19%, 35%);
}

.dark-theme {
  --bg-image: url("./images/bg-desktop-dark.jpg");
  --bg-color: hsl(235, 21%, 11%);
  --card-color: hsl(235, 24%, 19%);
  --card-border: hsl(233, 14%, 35%);
  --text-color: hsl(234, 19%, 79%);
  --shadow: hsl(0, 0%, 0%);
}

body {
  margin: 0px;
  padding: 0px;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

header {
  background-image: var(--bg-image);
  height: 30vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 500px;
  margin: -20vh auto;
  padding: 10px;
}

h1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #fff;
  letter-spacing: 0.8rem;
}

.header {
  display: flex;
  justify-content: space-between;
}

#theme-toggle:hover svg {
  filter: drop-shadow(0 0 0.5rem #fff);
  cursor: pointer;
}

.add-tasks {
  border-radius: 5px;
}

input {
  border: none;
  width: 100%;
  font-size: 1.2rem;
  caret-color: var(--text-color);
  background: transparent;
  color: var(--text-color);
}

input:focus {
  outline: none;
}

.circle {
  min-height: 19px;
  min-width: 19px;
  border-radius: 50%;
  margin-right: 2%;
  background: var(--circle-border);
  display: grid;
  place-items: center;
}

.circle:hover {
  background-image: linear-gradient(
    120deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.inner-circle {
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background-color: var(--card-color);
}

.task-view {
  margin: 20px auto;
  border-radius: 1%;
  overflow: hidden;
  box-shadow: 0px 4vh 100px 1px var(--shadow);
}

.task-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: fit-content;
  min-height: 3rem;
  font-size: 1.2rem;
  background: var(--card-color);
  border-bottom: 1px solid var(--card-border);
}

.task-card:hover button {
  opacity: 1;
}

.task-desc {
  box-sizing: border-box;
  width: 90%;
  padding-top: 7px;
  margin: 3px;
}

button {
  opacity: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.draggable {
  cursor: move;
}

.dragging {
  opacity: 0.8;
  transform: scale(0.9);
  transition: all 0.2s ease-out;
}

.footer {
  font-size: 0.9rem;
  height: 1.8rem;
}

.check {
  cursor: pointer;
}

.checked {
  background-image: linear-gradient(
    120deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

#mobile-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.highlight {
  color: hsl(220, 98%, 61%);
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  font-size: 0.9rem;
  padding: 10px;
}

.bottom-bar span {
  box-sizing: border-box;
  margin: 0px 3px;
  cursor: pointer;
  padding: 3px;
}

.bottom-bar span:hover {
  text-shadow: 0 0 0.03px;
}

#mobile-filters > #filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2px;
}
@media screen and (min-width: 768px) {
  #mobile-filters {
    display: none;
  }
}
